<div class="container">
    <div class="search">
        <input type="text" placeholder="Поиск..." (input)="search($event)">
        <button>поиск</button>
    </div>

    <div class="add-product-form">
        <input [(ngModel)]="productName" placeholder="Название товара">
        <input [(ngModel)]="productPrice" placeholder="Цена товара">
        <input [(ngModel)]="productImage" placeholder="Ссылка на изображение">
        <button (click)="addProduct()">Добавить товар</button>
        <p class="error">{{ error }}</p>
    </div>
    
    <div class="products">
        @for (product of filterProducts; track $index) {
            <div class="product">
                <div class="product-image">
                    <img [src]="product.image" alt="{{product.desc}}">
                </div>
                <h3>{{ product.description.split(' ')[0] }}</h3>
                <p class="description">{{product.description}}</p>
                <p class="price">Цена: {{product.price}} руб.</p>
               
                <button 
                (click)="addProductBasket(product)"
                [ngClass]="{ 'added': product.isAdded } "
            >
                {{ product.isAdded ? 'Добавлено' : 'Добавить в корзину' }}
            </button>
            </div>
        }
    </div>
</div>